// size
.small {
    height: 28px;
}

.medium {
    height: 40px;
}

.big {
    height: 56px;
}

// theme

.default {
    border: 2px solid black;
    color: black;
    background-color: transparent;

    &:hover {
        color: white;
        background-color: black;
    }
}

.fill {
    background-color: black;
    color: white;
    border: 0px;
}
