.wrapper {
    position: relative;

    &:hover .preview-img {
        display: flex;
    }
}

.label {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.8rem;
}

.required {
    text-align: center;
    color: red;
    margin-top: 12px;
}

.preview-img {
    width: 200px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    left: 0;
    margin: 0 auto;
    display: none;
    z-index: 10;
    display: none;
    justify-content: center;

    &::before {
        content: '';
        border-width: 12px 12px;
        border-color: transparent;
        border-bottom-color: rgb(255, 255, 255);
        position: absolute;
        top: -22px;
        right: 8px;
    }
}

.input {
    background-color: white;
    // white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 12px 24px 12px 12px;
    border-radius: 50px;

    .btn {
        background-color: black;
        color: white;
        white-space: nowrap;
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 50px;
        cursor: pointer;
    }

    .file-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
}

.input-hide {
    display: none;
}
